body {
    overflow-y: scroll;
}

.hero {
    color: white;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(to right, #243B55, #141E30);

    .menu {
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            a {
                color: white;
                text-decoration: none;
                padding: 8px 0;
            }
        }
    }

    @media print {
        .menu {
            display: none;
        }
    }

    .title {
        margin: 4rem 0;
    }
}

.container {
    max-width: 640px;
    margin: 1rem auto;

    .title {
        color: black;
        font-size: 1.6rem;
        text-decoration: none;
    }

    .title:hover {
        text-decoration: underline;
    }

    .article:not(:first-child) {
        margin-top: 2rem;
    }

    .description {
        color: gray;
    }
}

.section {
    padding: 1rem;
}

.markdown-body {
    .copyright {
        color: gray;
        text-align: right;
    }
}